<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633892904207-5v91jgerb78028ap85o1jnasr0m1210f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633892904207-5v91jgerb78028ap85o1jnasr0m1210f</string>
	<key>API_KEY</key>
	<string>AIzaSyDDtMtLM3AEkIQElggcO3gQk-4Tn70v8dA</string>
	<key>GCM_SENDER_ID</key>
	<string>633892904207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ducanh.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-f7c9c</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-f7c9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633892904207:ios:463a406cbbb519c371327a</string>
</dict>
</plist>